# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

azure-functions==1.23.0
pycpfcnpj==1.8
pydantic==2.12.0
requests==2.32.5
python-dotenv==1.1.1
